


.Strawberry{
    display: flex;
    flex-direction: row;
    margin-left: 20px;

}
Button{
    margin-left: 10px;

}
.count{
    margin-left: 10px;
    margin-right: 10px;
}
.Banaan{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.Appel{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.Kiwi{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
.opmerkingField {
    height: 100px;
    width: 300px;
}